* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  background: #000;
  font-family: 'Press Start 2P', monospace;
  overflow: hidden;
  color: #fff;
}
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #e52521; border-radius: 4px; }
